html {
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

h2 {
    color: var(--Primary-green);
    font-family: var(--headings);
    font-weight: 700;
    font-size: 3.25rem;
}