body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: 128px;
    background-color: var(--Primary-green);
    width: 100%;
    display: flex;
    align-items: center;
}


nav>img {
    width: 72px;
}

nav>div {
    display: flex;
    gap: 102px;
    padding: 0px 120px;
    width: 1440px;
}

.nav-bar {
    display: flex;
    gap: 72px;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-family: var(--headings);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0px 5px;
    display: inline-block;
}


.Highlights-nav:hover {
    background-image: url(./assets/icons/nav-hover1.svg);
    background-repeat: no-repeat;
    background-position-y: 85%;
}

.FAQ-nav:hover {
    background-image: url(./assets/icons/nav-hover2.svg);
    background-repeat: no-repeat;
    background-position-y: 85%;
}

.Contact-nav:hover {
    background-image: url(./assets/icons/nav-hover3.svg);
    background-repeat: no-repeat;
    background-position-y: 85%;
}

.nav-bar a:active {
    color: var(--Primary-gelb);
    background-image: none !important;
}


.hero {
    width: 1440px;
    height: 520px;
    background-image: url(./assets/img/Hero-img-2.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: 200px;
    overflow: hidden;
}

.hero-container {
    max-width: 1440px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.img-container {
    display: flex;
    position: absolute;
    overflow: hidden;

    animation: slideRight 4.5s ease-in-out forwards;
    animation-delay: 1.5s;
}

.img1 {
    position: relative;
    height: 520px;
}

.img2 {
    position: relative;
    margin-left: -600px;
    height: 520px;

    animation: imgswitsch 2s ease-in-out forwards;
    animation-delay: 6s;
}

.hero-text-container {
    display: flex;
    justify-content: center;
    height: 520px;
    align-items: center;
}

.hero-text {
    width: 350px;
    height: fit-content;
    position: relative;

    animation: textFadeLeft 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
    color: var(--braun);
}

.hero-text p {
    font-family: var(--normal-text);
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.3;
    opacity: 0;
    transform: translateY(80px);
    animation: textFadeIn 0.8s ease-in-out forwards 1.0s;
}

.hero-text h1 {
    font-family: var(--headings);
    font-weight: 700;
    font-size: 4rem;
    opacity: 0;
    transform: translateY(80px);
    animation: textFadeIn 0.8s ease-in-out forwards 0.6s;
}

.last-hero-effect {
    position: relative;
    right: 700px;
    animation: lastEffect 0.6s ease-in-out forwards 5s;
    opacity: 0;
}

.badge {
    width: 160px;
    height: 160px;
    background-color: var(--Primary-green);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 445px;
    top: 285px;
    opacity: 0;
    animation: badgein 0.6s ease-in forwards 5s;
}

.badge-logo {
    width: 45px;
    height: 45px;
    position: absolute;
}

.badge-text {
    width: 132px;
    position: absolute;
    animation: badgetext 15s linear infinite;
}

main {
    margin: 120px;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.highlights {
    display: flex;
    flex-direction: column;
    gap: 88px;
    align-items: center;
}

.highlights-container1 {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-headlines {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.highlights-container1>p {
    align-items: center;
    font-family: var(--normal-text);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    line-height: 110%;
}

.highlights-slider {
    width: 100%;
    height: 520px;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    overflow: hidden;
    gap: 22px;

}

.highlights-slider input {
    z-index: 2;
}

.highlights_slider_wrapper {
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;

    transition: all 0.8s ease-in-out;
}

.highlights-slider input[value="Beaches"]:checked~.highlights_slider_wrapper {
    transform: translateX(calc(150% /4));
}

.highlights-slider input[value="Copenhagen"]:checked~.highlights_slider_wrapper {
    transform: translateX(calc(50% /4));
}

.highlights-slider input[value="Pattaya Pulse"]:checked~.highlights_slider_wrapper {
    transform: translateX(calc(-50% /4));
}

.highlights-slider input[value="Mountain fuji"]:checked~.highlights_slider_wrapper {
    transform: translateX(calc(-150% /4));
}

.slider_element {
    width: calc(100% / 4);
    height: 100%
}

.Beaches {
    background-image: url(./assets/img/beaches.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 100px 0px 0px;
}

.Copenhagen {
    background-image: url(./assets/img/Cobenhagen.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 100px 0px 0px;
}

.Pattaya_Pulse {
    background-image: url(./assets/img/Patty-puls.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 100px 0px 0px;
}


.Mountain_fuji {
    background-image: url(./assets/img/Mountain-fuji.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 100px 0px 0px;
}

.slider-text {
    width: 900px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
    margin: 54px 0px 0px 36px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.slider-text h3 {
    font-family: 'Palanquin Dark';
    color: var(--White-text);
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.slider-text p {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--White-text);
}

.highlights-slider input[type="radio"] {
    appearance: none;
    margin-bottom: 22px;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 100%;

    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s ease,
        border-radius 0.3s ease;
}

.highlights-slider input[type="radio"]:checked {
    width: 40px;
    background-color: var(--Primary-gelb);
    border-radius: 20px;
}

.FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.FAQ-question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;


}

details {
    background-color: var(--Primary-gelb);
    border-radius: 12px;
    width: 1200px;

}

summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 14px;

    font-family: var(--normal-text);
    color: var(--braun);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
}

details[open] {
    height: 120px;
}

summary::-webkit-details-marker {
    display: none;
}


summary::after {
    content: url(./assets/icons/faq-arrow.svg);
    display: inline-block;
    transition: transform 0.3s ease;
}

details[open] summary::after {
    transform: rotate(180deg);

}

details[open] p {
    background-color: var(--White-text);
    margin: 4px 10px;
    padding: 4px 10px;
    border-radius: 5px;
}