:root {
    --Primary-green:rgba(78, 164, 135, 1);
    --Primary-gelb: rgba(241, 201, 83, 1);
    --White-text:white;
    --braun:rgba(84, 55, 13, 1);
    --headings:'Arima';
    --normal-text:'Palanquin';

}