
.carousel {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.carousel h3 {
    font-family: var(--headings);
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
    color: var(--braun)
}

.slider {
    height: 320px;
    display: flex;
    justify-content: center;
}

.slider_beaches {
    z-index: 1;
    width: 220px;
    height: 100%;
    background-color: aqua;
    border-radius: 16px;

    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    background-size: cover;
    background-position: center;

    box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);


    transition: all 250ms ease-in-out;
}

.slider_beaches:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.2) scaleY(1.2);
    background-color: aqua;

}

.slider_beaches:hover~.slider_beaches {
    background-color: red;
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}



