article {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
}

article>header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

header>section {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article-header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.article-header-text h3 {
    font-family: var(--normal-text);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--Primary-green);

}

.article-header-text h1 {
    font-family: var(--headings);
    color: var(--Primary-gelb);
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: 0%;

}

.article-header-text p {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--braun);

}

.article-header-info ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0px;

    font-family: var(--normal-text);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.article-header-info li {
    display: flex;
    align-items: center;
    gap: 6px;
}

header aside {
    width: 275px;
    height: fit-content;
    background-color: rgba(78, 164, 135, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 16px;
    padding: 14px;
}

aside img {
    width: 120px;
}

aside>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.author h4 {
    font-family: var(--headings);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
}

.author p {
    font-family: var(--headings);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 120%;
    text-align: center;
}

aside>div>span {
    font-family: var(--normal-text);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;

}

.carousel {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.carousel h3 {
    font-family: var(--headings);
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
    color: var(--braun)
}

.slider {
    height: 320px;
    display: flex;
    justify-content: center;
}

.slider_beaches {
    z-index: 1;
    width: 220px;
    height: 100%;
    background-color: aqua;
    border-radius: 16px;

    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    background-size: cover;
    background-position: center;

    box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);


    transition: all 250ms ease-in-out;
}

.slider_beaches:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.2) scaleY(1.2);
    background-color: aqua;

}

.slider_beaches:hover~.slider_beaches {
    background-color: red;
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.text {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--pages-text);
    padding-top: 20px;
}

.beaches-list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;
}