article {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
}

article>header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

header>section {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article-header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.article-header-text h3 {
    font-family: var(--normal-text);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--Primary-green);

}

.article-header-text h1 {
    font-family: var(--headings);
    color: var(--Primary-gelb);
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;
    letter-spacing: 0%;

}

.article-header-text p {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--braun);

}

.article-header-info ul {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0px;

    font-family: var(--normal-text);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.article-header-info li {
    display: flex;
    align-items: center;
    gap: 6px;
}

header aside {
    width: 275px;
    height: fit-content;
    background-color: rgba(78, 164, 135, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 16px;
    padding: 14px;
}

aside img {
    width: 120px;
}

aside>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.author h4 {
    font-family: var(--headings);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
}

.author p {
    font-family: var(--headings);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 120%;
    text-align: center;
}

aside>div>span {
    font-family: var(--normal-text);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;

}

.carousel {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.carousel h3 {
    font-family: var(--headings);
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
    color: var(--braun)
}

.slider {
    height: 320px;
    display: flex;
    justify-content: center;
}

.slider_beaches {
    z-index: 1;
    width: 220px;
    height: 100%;
    background-color: aqua;
    border-radius: 16px;

    transform: perspective(250px) rotateY(20deg) translateX(-20px);
    transform-origin: 50% 50%;
    background-size: cover;
    background-position: center;

    box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);


    transition: all 250ms ease-in-out;
}

.slider_beaches:hover {
    z-index: 2;
    transform: perspective(250px) rotateY(0deg) translateX(0px) scaleX(1.2) scaleY(1.2);
    background-color: aqua;

}

.slider_beaches:hover~.slider_beaches {
    background-color: red;
    transform: perspective(250px) rotateY(-20deg) translateX(20px);
}

.text {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--pages-text);
    padding-top: 20px;
}

.beaches-list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;
}

.tipp {
    max-width: 1130px;
    max-height: 260px;
}

.pro-tipp {
    width: 200px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--Primary-green);
    color: var(--Primary-gelb);



    opacity: 1;
    transform: rotate(-12deg);
    margin-left: -55px;
    margin-bottom: -20px;
    z-index: 5;
    position: relative;

}

.pro-tipp img {
    width: 50px;
    height: 50px;
}

.pro-tipp p {
    font-family: var(--normal-text);
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 120%;
    letter-spacing: 0%;
}

.tipp-text {
    width: fit-content;
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    color: var(--pages-text);

    padding: 26px 16px;
    background-color: rgba(78, 164, 135, 0.2);
    border-radius: 30px;
}

.tipp-text a {
    color: var(--Primary-green);
    text-decoration: none;

}

.pages-share {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    position: relative;
}

.pages-share>img {
    position: absolute;
    bottom: 25px;
    left: -30px;
}

.pages-share>p {
    font-family: var(--normal-text);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: var(--braun);
}

.share-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.share-button-green {
    background-color: var(--Primary-green);
    height: 50px;
    padding: 0px 24px;
    background-color: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.8s ease-in-out;
}

.share-button p {
    font-family: var(--headings);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 5%;
    color: var(--Primary-gelb);

}

#share-toggle {
    display: none;
}

.social-links-box {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.6s ease, opacity 0.6s ease, margin-left 0.6s ease;
}

.social-links-box>img {
    width: 32px;
    height: 32px;
}

.links-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links-column a {
    color: var(--Primary-green);
    font-family: var(--headings);
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
    letter-spacing: 5%;
}

#share-toggle:checked~.social-links-box {
    max-width: 250px;
    opacity: 1;
    margin-left: 15px;
}

.pages-share:has(#share-toggle:checked) .share-button-green>img {
    display: none;

}