.article-header-text p {
    font-size: 1.75rem;
}

article>header {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.header-text {
    font-family: var(--normal-text);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(61, 61, 61, 1);

}

.rain-pattaya {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.rain-pattaya img {
    width: 640px;
    height: 430px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);


}

.pattaya-evaluation {
    display: flex;
    gap: 80px;

}

.pattaya-evaluation img {
    width: 520px;
    height: 470px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);


}

.pattaya-evaluation div {
    width: 520px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

@media screen and (min-width:769px) and (max-width:1024px) {

    nav>div {
        padding: 0px 90px;
        width: 1024px;
    }

    main {
        width: 1000px;
    }

    article {
        width: 1024px;
    }

    article>header {
        align-items: center;
        width: 1000px;
    }

    header>section {
        width: 1000px;
    }

    .text {
        max-width: 1000px;
    }

    .rain-pattaya {
        width: 1000px;
    }

    .pattaya-evaluation {
        flex-direction: column;
    }

}

@media screen and (min-width:376px) and (max-width:768px) {

    html {
        font-size: 14px;
    }

    nav>div {
        padding: 0px 40px;
        width: 750px;
    }

    main {
        width: 750px;
        margin: 60px;
    }

    article {
        width: 750px;
    }

    article>header {
        align-items: center;
        width: 750px;
    }

    header>section {
        width: 750px;
    }

    .rain-pattaya {
        width: 750px;
    }

    .pattaya-evaluation {
        flex-direction: column;
    }

    body>footer {
        padding: 0px 40px;
    }

    .footer-text {
        width: 400px;
    }

}

@media screen and (max-width:375px) {
    article>header {
        width: 100%;
        gap: 24px;
    }

    .rain-pattaya {
        width: 100%;
        gap: 16px;
    }

    .rain-pattaya img {
        width: 100%;
        height: auto;
        border-radius: 24px;
    }

    .pattaya-evaluation {
        flex-direction: column;
        gap: 40px;
    }

    .pattaya-evaluation div {
        width: 100%;
        gap: 16px;
    }

    .pattaya-evaluation img {
        width: 100%;
        height: auto;
        border-radius: 24px;
    }
}